
  body{
    background-color: white;
}

.Myname{
    background-image: url();
    background-color: black; /* eventually change this to an image */
    color:white;
    text-align: center;
    font-family: Gerogia;

}

.picture{
    /* source for this https://teamtreehouse.com/community/how-do-i-make-an-image-fill-browser*/
}


}